a {
  color: black;
 text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

.aevus {
  color: #90DAC7;
}

.aevus, .ambulo, .chromatic, .ocam {
  font-weight: bolder;
}

.ambulo {
  color: #90DAB9;
}


.amL:link, .amL:visited {
  background-color: #90DAB9;
}

.button {
  border: 2px solid rgb(102, 143, 191);
  border-radius: 10px !important;
  color: #67a1ff !important;
  margin-top: 2%;
  padding: 10px !important;
}

.button:hover {
  background-color: #67a1ff;
  color: white !important;
}

.chromatic {
  color: #668FBF;
}

.chL:link, .chL:visited {
  background-color: #668FBF;
}

.hh {
  color: #1FB3A9;
}

.hhL:link, .hhL:visited {
  background-color: #1FB3A9;
}

.amL, .button, .chL,
.hhL, .ocamL,
.shL, .shiL  {
  border-radius: 50px;
  color: white;
  padding: 2% 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: fit-content;
  /* opacity: .5; */
  margin: auto;
}

.container {
  position: relative;
  width: 50%;
}

.container:hover .overlay {
  /* opacity: .8; */
}

.inner {
  padding: 10px;
  /* background-color: red; */
  /* height: fit-content;  */
}

.inner:hover {
  background-color: black;
  border-radius: 10px;
  mix-blend-mode: difference;
  opacity: .8;
}

.ocam {
  color: #3d1070; 
}

.ocamL:link, .ocamL:visited {
  background-color: #3d1070;
}

.outer {
  border: 1px solid rgba(0, 0, 0, .1);
  /* padding: 5px; */
}

.outer:hover {
  opacity: .8;
}

/* .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
} */

.sh {
  color: #43B5E6;
}

.shL:link, .shL:visited {
  background-color: #43B5E6;
}

.shift {
  color: #8D89B1;
}

.shiL:link, .shiL:visited {
  background-color: #8D89B1;
}

.text {
  margin-top: 2%;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;  
}
